<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Pizzaria Supreme</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cardapio">Cardápio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contatos">Contatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link ms-auto" href="/admin"><i class="bi bi-person-fill-check"></i> Página Administrativa</a>
                </li>
            </ul>
        </div>
    </div>
</nav>