<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container d-flex">
  <div class="flex-row">
    <div class="col-12 justify-content-center align-items-center mt-3">
      <i>A Pizzaria Supreme surgiu em 2022, sob chefia do Cheff Mannuel (também
        atual dono), com uma equipe de funcionários focados em busca de serem os
        maiores pizzaiolos do Brasil, abrindo sua primeira loja de vendas em
        Catalão - GO, agora, alastrando suas lojas por toda região!</i>
    </div>
    <div class="col-12 justify-content-center align-items-center mt-3">
        <i>Nossa missão é entregar o máximo do sabor e da alegria de consumir uma
        Pizza, aumentanto sua serotonina e sua vontade de pedir mais e mais!</i>
    </div>
  </div>
</div>

<div class="container d-flex">
    <div class="col justify-content-center align-items-center mt-3 mb-3">
        <img class="img-fluid mx-auto d-block rounded" src="/images/sobre/chef.jpg" alt="Cheff do Restaurante">
    </div>
</div>

<%- include('partials/footer2') %>
